* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin-top: 30px;
    color: #111133;
    background-image: url("../images/fons2.jpg");
    background-repeat:repeat;
    height: 200vh;
  }

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}